{% extends 'main.html' %}

{% block content %}
<div>
    Create Receipt
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock content %}
